@font-face {
  font-family: 'Chewy';
  src: url('Chewy.ttf') format('opentype');
}

body {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px;
  font-weight: lighter;
}

h1>p {
  font-family: 'Chewy', sans-serif;
  font-size: 100px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: -10px;
  margin: 0;
}

.game-container {
  width: 90%;
  /* Øger spilcontainerens bredde */
  margin: 2rem auto;
  text-align: center;
}

#gameInfo.start-container {
  text-align: left;
  padding-bottom: 0;
}

#playerCount {
  font-size: 20px;
  height: 50px;
  width: 130px;
  padding: 10px;
  border-radius: 10px;
  background-color: #FFD233;
  border: none;
}

#gameBoard {
  border-collapse: collapse;
  margin: 0 auto;
  /* Centrerer spillebrættet horisontalt */
}

#gameBoard td {
  width: 100px;
  /* Øger bredden af hver celle */
  height: 100px;
  /* Øger højden af hver celle */
  border: 1px solid black;
  background-color: #eee;
  vertical-align: bottom;
}

.start-container {
  text-align: center;
  padding: 0 50px 40px 50px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  /* White with 0.5 transparency */
}

.start-button {
  font-size: 20px;
  width: 130px;
  height: 50px;
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #FFD233;
  text-decoration: none;
  cursor: pointer;
  margin-left: 20px;
}

.start-button:hover {
  background-color: #8ED93E;
}

.player1,
.player2,
.player3,
.player4 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.player1 {
  background-image: url("img/sprites/Fish_1.png");
}

.player2 {
  background-image: url("img/sprites/Fish_2.png");
}

.player3 {
  background-image: url("img/sprites/Fish_3.png");
}

.player4 {
  background-image: url("img/sprites/Fish_4.png");
}

@keyframes slideDown0 {

  /* 0 brikker i kolonnen */
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideDown1 {

  /* 1 brik i kolonnen */
  0% {
    transform: translateY(-200px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideDown2 {

  /* 2 brik i kolonnen */
  0% {
    transform: translateY(-300px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideDown3 {

  /* 3 brik i kolonnen */
  0% {
    transform: translateY(-400px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideDown4 {

  /* 4 brik i kolonnen */
  0% {
    transform: translateY(-500px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideDown5 {

  /* 5 brik i kolonnen */
  0% {
    transform: translateY(-600px);
  }

  100% {
    transform: translateY(0);
  }
}

.animated {
  animation: slideDown 0.5s ease-out forwards;
}

#winnerStarfish {
  position: relative;
  top: -100px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #eee3cf;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.closeModal {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.winner1Modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.winner1-modal-content {
  background-color: #FFC107;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.closeModal1 {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.winner2Modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.winner2-modal-content {
  background-color: #c60cfa;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.closeModal2 {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.winner3Modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.winner3-modal-content {
  background-color: #0bf9b5;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.closeModal3 {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.winner4Modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.winner4-modal-content {
  background-color: #4400ff;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.closeModal4 {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.gameStatsModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.gameStats-modal-content {
  background-color: #fe6201;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.closeGameStatsModal {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}