@font-face {
  font-family: 'Chewy';
  src: url('Chewy.ttf') format('opentype');
}

body {
  font-family: 'Chewy', sans-serif;
}

h1>p {
  font-size: 100px;
  font-weight: lighter;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: -10px;
  margin: 0;
}

.game-container {
  width: 90%;
  /* Øger spilcontainerens bredde */
  margin: 2rem auto;
  text-align: center;
}

#gameBoard {
  border-collapse: collapse;
  margin: 0 auto;
  /* Centrerer spillebrættet horisontalt */
}

#gameBoard td {
  width: 100px;
  /* Øger bredden af hver celle */
  height: 100px;
  /* Øger højden af hver celle */
  border: 1px solid black;
  background-color: #eee;
  vertical-align: bottom;
}

.start-container {
  width: 80%;
  margin: 4rem auto;
  text-align: center;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.start-button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.start-button:hover {
  background-color: #0056b3;
}

.player1,
.player2,
.player3,
.player4 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.player1 {
  background-image: url("img/peepo-mod1.png");
}

.player2 {
  background-image: url("img/peepo-mod2.png");
}

.player3 {
  background-image: url("img/peepo-mod3.png");
}

.player4 {
  background-image: url("img/peepo-mod4.png");
}

@keyframes slideDown0 {

  /* 0 brikker i kolonnen */
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideDown1 {

  /* 1 brik i kolonnen */
  0% {
    transform: translateY(-200px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideDown2 {

  /* 2 brik i kolonnen */
  0% {
    transform: translateY(-300px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideDown3 {

  /* 3 brik i kolonnen */
  0% {
    transform: translateY(-400px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideDown4 {

  /* 4 brik i kolonnen */
  0% {
    transform: translateY(-500px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideDown5 {

  /* 5 brik i kolonnen */
  0% {
    transform: translateY(-600px);
  }

  100% {
    transform: translateY(0);
  }
}

.animated {
  animation: slideDown 0.5s ease-out forwards;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #eee3cf;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 600px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.closeModal {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.winner1Modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.winner1-modal-content {
  background-color: #FFC107;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 600px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.closeModal1 {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.winner2Modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.winner2-modal-content {
  background-color: #c60cfa;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 600px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.closeModal2 {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}